header {
    background-color: #660a43;
}

h1 {
    font-size: 63px;
    color: rgb(227, 238, 238);
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: darkslategray;
    font-weight: 600;
}

.carousel-caption h5{
font-size: 80px;
color: blueviolet;
text-shadow: 2px 2px 2px black;
}